<div class="dashboard-container">
<h2>Welcome to Dashboard!</h2>
  <div class="dashboard">
    <div class="dashboard-item" (click)="goTo('img2pdf')">
      <img src="../../assets/icon1.jpg" alt="img2pdf Icon">
      <p>Image to pdf</p>
    </div>
  
    <div class="dashboard-item" (click)="goTo('img2txt')">
      <img src="../../assets/icon1.jpg" alt="img2txt Icon">
      <p>Image to Text</p>
    </div>

    <div class="dashboard-item" (click)="goTo('wordcount')">
      <img src="../../assets/icon1.jpg" alt="wordcount Icon">
      <p>Word Count</p>
    </div>

    <div class="dashboard-item" (click)="goTo('aichecker')">
      <img src="../../assets/icon1.jpg" alt="aichecker Icon">
      <p>ChatGPT Checker</p>
    </div>
</div>
  
<button (click)="logout()">Logout</button>
</div>
