<form class="login-form" (ngSubmit)="login()">
  <label class="login-label">Username:</label>
  <input
    type="text"
    [(ngModel)]="username"
    name="username"
    required
    class="login-input"
  />

  <label class="login-label">Password:</label>
  <input
    type="password"
    [(ngModel)]="password"
    name="password"
    required
    class="login-input"
  />

  <button type="submit" class="login-button">Login</button>

  <p class="signup-text">
    Don't have an account?
    <button type="button" (click)="goToSignup()" class="signup-button">
      Signup here
    </button>
  </p>
</form>
